{% extends "admin_main_base.html" %}
{% block head_title %}Client list{% endblock %}
{% load static %}
{% block content %}

	<!-- Content Wrapper. Contains page content -->
  	<div class="content-wrapper d-block d-block px-5 py-3">
    	<!-- Content Header (Page header) -->
    	<div class="content-header">
	      	<div class="container-fluid">
		        <div class="row mb-2">
		          	<div class="col-sm-6">
		            	<h1 class="m-0">List of client</h1>
		          	</div><!-- /.col -->
		        </div><!-- /.row -->
	      	</div><!-- /.container-fluid -->
    	</div>
    	<!-- /.content-header -->

    	<!-- Main content -->
    	<section class="content">

      		<!-- Default box -->
	      	<div class="card">
		        <div class="card-header">
		          	<h3 class="card-title">Clients</h3>

		          	<div class="card-tools">
		            	<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
		              	<i class="fas fa-minus"></i>
		            	</button>
		            	<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
		              	<i class="fas fa-times"></i>
		            	</button>
		          </div>
		        </div>
        		<div class="card-body p-0">
			        <table class="table table-striped projects">
			            <thead>
			                <tr>
			                    
			                    <th class="text-left">
			                      Name
			                    </th>
			                    <th class="text-center" style="">
			                      Email
			                    </th>
			                    
			                    <th class="text-center">
			                    	Phone
			                    </th>
			                    <th class="text-center">
			                    	Country
			                    </th>
			                    <th class="text-center">
			                    	City
			                    </th>
			                    <th class="text-center">
			                    	School
			                    </th>
			                    <th class="text-center">
			                    	Course
			                    </th>
			                     <th class="text-center">
			                        Created By
			                    <th class="text-right">
			                    	Action
			                    </th>
			                </tr>
			            </thead>
			            <tbody>
			            	{% for client in clients %}
			                <tr>
			                    <td class="text-left">
			                        {{client.name}}
			                    </td>
			                    <td class="text-center">
			                    	<a>{{client.email}}</a>
			                    </td>
			                    <td class="text-center">
			                    	<a>{{client.phone}}</a>
			                    </td>
			                    <td class="text-center">
			                    	<a>{{client.s_country}}</a>
			                    </td>
			                    <td class="text-center">
			                    	<a>{{client.s_city}}</a>
			                    </td>
			                    <td class="text-center">
			                    	<a>{{client.s_school}}</a>
			                    </td>
			                    <td class="text-center">
			                    	<a>{{client.s_course}}</a>
			                    </td>
			                    <td class="text-center">
			                    	{{client.ref_user.username}}
			                    </td>
			                    <td class="project-actions text-right">
			                    	
			                        <a class="btn btn-primary btn-sm" href="{% url 'web:client_detail' client.id %}">
			                            <i class="fas fa-folder">
			                            </i>
			                            View detail
			                        </a>
			                        
			                          <a class="btn btn-danger btn-sm" href="#">
			                            <i class="fas fa-trash">
			                            </i>
			                            Delete
			                          </a>
			                    </td>
			                </tr>
			                {% endfor %}
			            </tbody>
			        </table>
        		</div>
        		<!-- /.card-body -->
      		</div>
      		<!-- /.card -->

    	</section>
    	<!-- /.content -->
  	</div>

{% endblock %}
