{% extends "admin_main_base.html" %}
{% block head_title %}Group List{% endblock %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/datatables-buttons/css/buttons.dataTables.min.css' %}">
{% endblock %}

{% block content %}

<!-- Content wrapper -->
<div class="content-wrapper">
	<!-- Content -->
	<div class="container-xxl flex-grow-1 container-p-y">
		<!-- No Transaction Container -->
		{% if groups|length == 0 %}
		<h4 class="fw-bold pt-3 mb-0"><span class="text-muted fw-light"></span> No Group Found</h4>
		<nav aria-label="breadcrumb mb-4  ">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'web:dashboard' %}">Dashboard</a></li>
				<li class="breadcrumb-item active" aria-current="page">No Group Found</li>
			</ol>
		</nav>
		<!-- Bootstrap modals -->
		<div class="cmb-4 d-flex justify-content-center align-items-center w-100 empty-div-height">
            <div class="text-center col-md-3 mx-auto">
                <img src="{% static 'img/no-school.png' %}" class="mb-2" style="width: 250px;">
                <p class="text-dark h5">No Group Found !</p>
				<a href="{% url 'web:add_group' %}" class="btn btn-i btn-primary w-100"><i class="ri-add-line"></i> ADD GROUP</a>
			</div>
		</div>
		<!--/ Bootstrap modals -->
		{% else %}
		<!-- Currency Found -->
		<div class="d-md-flex justify-content-between mb-3">
			<div class="d-md-flex">
				<div class="d-flex align-items-center">
					<div class="border-end pe-3">
						<h4 class="fw-bold mb-0"><span class="text-muted fw-light"></span>Group List</h4>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'web:dashboard' %}">Dashboard</a></li>
							<li class="breadcrumb-item active" aria-current="page">Group List</li>
							</ol>
						</nav>
					</div>
					<div class="bread-number ps-3">
						<span>{{ groups|length }} Group</span>
				</div>
		  	</div>
			<div class="ms-md-3 d-flex align-items-center my-3 my-md-0">
				<div class="input-group new-group">
					<span class="input-group-text border-0" id="basic-addon1"><i class="ri-search-line"></i></span>
					<input type="text" class="form-control border-0" type="search" placeholder="Search" aria-label="Search" id="search">
				</div>
			</div>
			</div>
			<div class="">
				<a href="{% url 'web:add_group' %}" class="btn btn-i btn-primary w-100"><i class="ri-add-line"></i> ADD GROUP</a>
			</div>
		</div>
		
		<div class="card">
			<div class="card-body">
				<table id="example1" class="table table-borderless table-hover dataTable dtr-inline">
					<thead>
						<tr>
							<th>SL</th>
							<th>Group</th>
							<!-- <th>Access Rights</th> -->
							<td>Action</td>
						</tr>
					</thead>
					<tbody class="table-border-bottom-0">
						{% for group in groups %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>{{ group.name }}</td>
							<!-- <td> 63 / 20</td> -->
							<td>
								<a class="me-2" href="{% url 'web:update_group' group.pk %}">
									<i class="ri-edit-box-line ri-lg"></i>
								</a>
								<a class="delete-btn" href="{% url 'web:delete_group' group.pk %}" data-bs-toggle="modal" data-bs-target="#delete-model" data-name="{{ group.name }}">
									<i class="ri-delete-bin-line ri-lg"></i>
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{% endif %}
	</div>
	<!-- Content -->
</div>
<!-- Content wrapper -->
<!-- Delete Model -->
<div class="modal fade" id="delete-model" tabindex="-1" aria-labelledby="delete-model-title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="delete-model-title">Delete Group</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body" id="delete-model-body">
		  <p>Do you want to delete the model <b>"model name"</b></p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-danger" id="delete-model-yes" data-href="">Yes</button>
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
</div>
<!-- Delete Model -->

{% endblock %}

{% block extra_script %}
<script src="{% static 'admin/plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'admin/plugins/jszip/jszip.min.js'%}"></script>
<script src="{% static 'admin/plugins/pdfmake/pdfmake.min.js'%}"></script>
<script src="{% static 'admin/plugins/pdfmake/vfs_fonts.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/buttons.colVis.min.js'%}"></script>

<script>
  $(function () {
	oTable = $('#example1').DataTable({
		"paging": true,
		"lengthChange": true,
		"searching": true,
		"ordering": true,
		"info": true,
		"autoWidth": false,
      	"responsive": true,
		"order": [[1, 'asc']],
		// lengthMenu: [
		// 	[25, 50,100, -1],
		// 	[25, 50,100, 'All'],
		// ],
		dom: 'Bfrtip',
		buttons: [
			'copy', 'csv', 'excel'
		]
  	});
	$('#search').keyup(function(){
		oTable.search($(this).val()).draw() ;
	});

	// Hide In-build Searchbar
	$('#example1_filter').addClass('d-none');

	// Working on Delete logic
	$(document).on('click', '.delete-btn', function() {
		let name = $(this).attr('data-name')
		let del_link = $(this).attr('href')
		$('#delete-model-body').html(
			`<p>Do you want to delete the group <b>"${name}"</b></p>`
		)
		$('#delete-model-yes').attr('data-href', del_link)	
	})
	$('#delete-model-yes').on('click', function() {
		let del_link = $(this).attr('data-href')
		// When user click on yes button delete
		let $crf_token = "{{ csrf_token }}";
		// AJAX Call
		$.ajax({
			url : del_link,
			type: "POST",
			headers:{"X-CSRFToken": $crf_token},
			success: function(data, textStatus, jqXHR)
			{
				//data - response from server
				location.reload(); //Reload the current Page
			},
			error: function (jqXHR, textStatus, errorThrown)
			{
				console.log('error while ajax calling')
			}
		});
	});
  });
</script>

{% endblock%}