{% extends "admin_main_base.html" %}
{% block head_title %}Student Details{% endblock %}
{% load static %}
{% load auth_extras %}
{% load humanize %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/datatables-buttons/css/buttons.dataTables.min.css' %}">
{% endblock %}

{% block content %}
{% if permission %}
<!-- Content wrapper -->
<div class="content-wrapper">
	<!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
	  <!-- Main content -->
	  <section class="content">
		  <div class="error-page">
			  <h2 class="headline text-warning"> 403 Error</h2>
			  <div class="error-content">
				  <h3><i class="ri-error-warning-line"></i> Oops! Permission denied.</h3>
				  <p>We could not find the page you were looking for.</p>
			  </div>
		  </div>
	  </section>
	</div>
  <!-- Content -->
</div>
<!-- Content wrapper -->
{% else %}
<!-- Content wrapper -->
<div class="content-wrapper">
	<!-- Content -->
	<div class="container-xxl flex-grow-1 container-p-y">
		<div class="d-md-flex justify-content-between mb-3">
			<div class="d-md-flex">
				<div class="d-flex align-items-center">
					<div class="pe-3">
						<h4 class="fw-bold mb-0"><span class="text-muted fw-light"></span>School Student Details</h4>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item active"><a href="{% url 'web:deatil_school' student.ref_school_id %}">School Details</a></li>
								<li class="breadcrumb-item active" aria-current="page">School Student Details</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="details-section mb-2">
			<!-- <h5 class="mb-4"> About Course </h5> -->
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="card-title mb-2 d-flex align-items-start justify-content-start">
								<span class="text-center me-2">
									<i class="ri-building-line"></i>
								</span>
								<span class="fw-semibold d-block mb-1 text-center">SCHOOL</span>
							</div>
							<span class="d-block border-top pt-3">{{student.ref_school.school_name}}</span>
						</div>
					</div>
				</div>
		
				<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="card-title mb-2 d-flex align-items-start justify-content-start">
								<span class="text-center me-2">
									<i class="ri-organization-chart"></i>
								</span>
								<span class="fw-semibold d-block mb-1 text-center">ORGANIZATION</span>
							</div>
							<span class="d-block border-top pt-3">{{student.ref_school.ref_organization}}</span>
						</div>
					</div>
				</div>
		
				<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="card-title mb-2 d-flex align-items-start justify-content-start">
								<span class="text-center me-2">
									<i class="ri-map-pin-line"></i>
								</span>
								<span class="fw-semibold d-block mb-1 text-center">LOCATION</span>
							</div>
							<span class="d-block border-top pt-3">{{student.ref_school.ref_city}}, {{student.ref_school.ref_country}}</span>
						</div>
					</div>
				</div>
		
				<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="card-title mb-2 d-flex align-items-start justify-content-start">
								<span class="text-center me-2">
									<i class="ri-mail-open-line"></i>
								</span>
								<span class="fw-semibold d-block mb-1 text-center">EMAIL</span>
							</div>
							<span class="d-block border-top pt-3">{{student.ref_school.email}}</span>
						</div>
					</div>
				</div>
		
				<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="card-title mb-2 d-flex align-items-start justify-content-start">
								<span class="text-center me-2">
									<i class="ri-currency-line"></i>
								</span>
								<span class="fw-semibold d-block mb-1 text-center">CURRENCY</span>
							</div>
							<span class="d-block border-top pt-3">{{student.ref_school.ref_currency.currency_short}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="details-section">
			<div class="row">
				<div class="col-lg-5 col-md-4 col-sm-6 col-12 mb-4">
					<div class="card">
						<h5 class="card-header">About</h5>
						<div class="table-responsive text-nowrap">
							<table class="table table-striped">
								<tbody class="table-border-bottom-0">
									<tr>
										<td><i class="ri-file-list-line"></i> <strong>Student ID</strong>
										</td>
										<td>{{student.display_id}}</td>
									</tr>
									<tr>
										<td><i class="ri-user-line"></i> <strong>Student Name</strong></td>
										<td>{{student.first_name}} {{student.last_name}}</td>
									</tr>
									<tr>
										<td><i class="ri-men-line"></i> <strong>Gender</strong></td>
										<td>
											{% if student.gender == 0 %}
												Male
											{% elif student.gender == 1 %}
												Female
											{% else %}
												-
											{% endif %}	
										</td>
									</tr>
									<tr>
										<td><i class="ri-calendar-line"></i> <strong>DOB</strong></td>
										<td>
											{% if student.date_of_birth %}
												{{student.date_of_birth}}
											{% else %}
												-
											{% endif %}
										</td>
									</tr>
									<tr>
										<td><i class="ri-map-pin-line"></i> <strong>Home Address</strong>
										</td>
										<td>{{student.home_address}}</td>
									</tr>
									<tr>
										<td><i class="ri-code-line"></i> <strong>Postal Code</strong>
										</td>
										<td>{{student.post_code}}</td>
									</tr>
									<tr>
										<td><i class="ri-map-line"></i> <strong>Nationality</strong></td>
										<td>
											{% if student.nationality %}
												{{student.nationality}}
											{% endif %}
										</td>
									</tr>
									<tr>
										<td><i class="ri-mail-line"></i> <strong>Email</strong></td>
										<td>
											{% if student.email %}
												{{student.email}}
											{% endif %}
										</td>
									</tr>
									<tr>
										<td><i class="ri-phone-line"></i> <strong>Phone</strong></td>
										<td>
											{% if student.phone %}
												{{student.phone}}
											{% endif %}
										</td>
									</tr>
									<tr>
										<td><i class="ri-survey-line"></i> <strong>Religion</strong></td>
										<td>
											{% if student.religion %}
												{{student.religion}}
											{% endif %}
										</td>
									</tr>
									<tr>
										<td><i class="ri-passport-line"></i> <strong>Passport Number</strong></td>
										<td>
											{% if student.passport_number %}
												{{student.passport_number}}
											{% endif %}
										</td>
									</tr>
									<tr>
										<td><i class="ri-passport-line"></i> <strong>Passport Expired</strong></td>
										<td>
											{% if student.passport_expiry_date %}
												{{student.passport_expiry_date}}
											{% endif %}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="col-lg-7 col-md-4 col-sm-6 col-12 mb-4">
					<div class="row">
						<div class="card">
							<div class="table-responsive text-nowrap">								
								<div class="card-title d-flex align-items-start justify-content-between rounded bg-light p-3 mb-3 mt-3">
									<div class="">
										<ul class="nav nav-pills" role="tablist">
											<li class="nav-item">
												<button type="button" class="nav-link {% if 'school-detail' in request.META.HTTP_REFERER or 'student-course' in request.META.HTTP_REFERER or not request.META.HTTP_REFERER %} active {% endif %}" role="tab" id="course-tab" data-bs-toggle="tab"
												data-bs-target="#course_table"
												aria-controls="course_table" aria-selected="true">
												Class
												</button>
											</li>
											<li class="nav-item">
												<button type="button" class="nav-link {% if 'student-accommodation' in request.META.HTTP_REFERER %} active {% endif %}" role="tab" id="accommodation-tab" data-bs-toggle="tab"
												data-bs-target="#accommodation_table"
												aria-controls="accommodation_table" aria-selected="false">Accommodation</button>
											</li>
											<li class="nav-item">
												<button type="button" class="nav-link {% if 'student-service' in request.META.HTTP_REFERER %} active {% endif %}" role="tab" id="services-tab" data-bs-toggle="tab"
												data-bs-target="#services_table"
												aria-controls="services_table" aria-selected="false">Services</button>
											</li>
											<li class="nav-item">
												<button type="button" class="nav-link" role="tab" id="installment-tab" data-bs-toggle="tab"
												data-bs-target="#installment_table"
												aria-controls="installment_table" aria-selected="false">Installment</button>
											</li>
										</ul>
									</div>
							
									<!-- <div class="dropdown">
										<button class="btn p-0 d-flex align-items-center border px-2" type="button" id="cardOpt4"
											data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<i class="ri-add-line me-2"></i> Add Service
										</button>
										<div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt4">
											<a class="dropdown-item" href="{% url 'web:create_student_course' student.id %}">Class</a>
											<a class="dropdown-item" href="{% url 'web:create_student_accommodation' student.id %}">Accommodation</a>
											<a class="dropdown-item" href="{% url 'web:create_student_service' student.id %}">Service</a>
										</div>
									</div> -->
								</div>
								<div class="card-body tab-content">
									<!-- course Table -->
									<div role="tabpanel" aria-labelledby="course-tab" class="tab-pane fade table-responsive text-nowrap {% if 'school-detail' in request.META.HTTP_REFERER or 'student-course' in request.META.HTTP_REFERER or not request.META.HTTP_REFERER %} show active {% endif %}" id="course_table">

										<div class="mb-4 d-flex justify-content-end">
											<a href="{% url 'web:create_student_course' student.id %}" class="btn p-0 d-flex align-items-center border px-2 py-1 btn-outline-secondary" type="button">
												<i class="ri-add-line me-2"></i> Add Class
											</a>
										</div>

										<table class="table" id="course">
											<thead>
											  <tr>
												<th>Class Name</th>
												<th>Study Period</th>
												<th>Start Date</th>
												<th>End Date</th>
												<th>Action</th>
											  </tr>
											</thead>
											<tbody class="table-border-bottom-0">
											  {% for course in student_course%}
											  <tr>
												<td>{{course.ref_course}}</td>
												<td>{{course.study_period}} Week</td>
												<td>{{course.start_date}}</td>
												<td>{{course.end_date}}</td>
												<td>
													<a class="me-2" href="{% url 'web:update_student_course' course.id %}">
														<i class="ri-edit-box-line ri-lg"></i>
													</a>
													<a class="delete-btn" data-bs-toggle="modal" data-bs-target="#delete-model" data-name="{{course.ref_course}}" data-title="Course" href="{% url 'web:delete_student_course' course.id %}">
														<i class="ri-delete-bin-5-line ri-lg"></i>
													</a>
												</td>
											  </tr>
											  {% endfor %}
											</tbody>
										</table>
									</div>
									<!-- accommodation Table -->
									<div role="tabpanel" aria-labelledby="accommodation-tab" class="tab-pane fade table-responsive text-nowrap {% if 'student-accommodation' in request.META.HTTP_REFERER %} show active {% endif %}" id="accommodation_table">
										
										<div class="mb-4 d-flex justify-content-end">
											<a href="{% url 'web:create_student_accommodation' student.id %}" class="btn p-0 d-flex align-items-center border px-2 py-1 btn-outline-secondary" type="button">
												<i class="ri-add-line me-2"></i> Add Accommodation
											</a>
										</div>

										<table class="table" id="accommodation">
											<thead>
												<tr>
													<th>Room Title</th>
													<th>Start Date</th>
													<th>End Date</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody class="table-border-bottom-0">
												{% for accommodation in student_accommodation%}
												<tr>
													<td>{{accommodation.ref_accommodation_room}}</td>
													<td>{{accommodation.start_date}}</td>
													<td>{{accommodation.end_date}}</td>
													<td>
														<a class="me-2" href="{% url 'web:update_student_accommodation' accommodation.id %}">
															<i class="ri-edit-box-line ri-lg"></i>
														</a>
														<a class="delete-btn" data-bs-toggle="modal" data-bs-target="#delete-model" data-name="{{accommodation.ref_accommodation_room}}" data-title="Accommodation" href="{% url 'web:delete_student_accommodation' accommodation.id %}">
															<i class="ri-delete-bin-5-line ri-lg"></i>
														</a>
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
									<!-- services Table -->
									<div role="tabpanel" aria-labelledby="services-tab" class="tab-pane fade table-responsive text-nowrap {% if 'student-service' in request.META.HTTP_REFERER %} show active {% endif %}" id="services_table">

										<div class="mb-4 d-flex justify-content-end">
											<a href="{% url 'web:create_student_service' student.id %}" class="btn p-0 d-flex align-items-center border px-2 py-1 btn-outline-secondary" type="button">
												<i class="ri-add-line me-2"></i> Add Service
											</a>
										</div>

										<table class="table" id="services">
											<thead>
												<tr>
													<th>Service Name</th>
													<th>Service Type</th>
													<th>Start Date</th>
													<th>End Date</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody class="table-border-bottom-0">
												{% for services in student_services%}
												<tr>
													<td>{{services.ref_service.service_name}}</td>
													<td>{{services.ref_service.service_type_title}}</td>
													<td>{{services.start_date}}</td>
													<td>{{services.end_date}}</td>
													<td>
														<a class="me-2" href="{% url 'web:update_student_service' services.id %}">
															<i class="ri-edit-box-line ri-lg"></i>
														</a>
														<a class="delete-btn" data-bs-toggle="modal" data-bs-target="#delete-model" data-name="{{services.ref_service.service_name}} - {{services.ref_service.service_type_title}}" data-title="Service" href="{% url 'web:delete_student_service' services.id %}">
															<i class="ri-delete-bin-5-line ri-lg"></i>
														</a>
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
									<!-- Installment Table -->
									<div role="tabpanel" aria-labelledby="installment-tab" class="tab-pane fade table-responsive text-nowrap" id="installment_table">

										<!-- <div class="mb-4 d-flex justify-content-end">
											<a href="#" class="btn p-0 d-flex align-items-center border px-2 py-1 btn-outline-secondary" type="button">
												<i class="ri-add-line me-2"></i> Add Installment
											</a>
										</div> -->

										<table class="table" id="installment">
											<thead>
												<tr>
													<th>Sl</th>
													<th>Installment</th>
													<th>Type</th>
													<th>Amount</th>
													<th>Payment Date</th>
													<th>Status</th>
													<th>Payment Done</th>
													<!-- <th>Action</th> -->
												</tr>
											</thead>
											<tbody class="table-border-bottom-0">
												{% for course in student_course%}
													{% for installment in course.installments %}
													<tr>
														<td>{{forloop.counter}}</td>
														<td>{{installment.id|ordinal}}</td>
														<td>{{installment.type}}</td>
														<td>{{ installment.currency|upper }} {{installment.amount|intcomma}}</td>
														<td>{{installment.date}}</td>
														<td>
															{% if installment.status == 'Done' %}
															<!-- <span class="badge bg-success">Done</span> -->
															<a href="{% url 'web:invoice_download_pdf' course=course.pk ins=installment.id %}" class="btn btn-primary" target="_blank">Invoice</a>
															{% else %}
															<span class="badge bg-info">Pending</span>
															{% endif %}
														</td>
														<td>{{installment.paid}}</td>
														<!-- <td>
															<a class="me-2" href="#">
																<i class="ri-edit-box-line ri-lg"></i>
															</a>
														</td> -->
													</tr>
													{% endfor %}
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- Content -->
</div>
<!-- Content wrapper -->
<!-- Delete Model -->
<div class="modal fade" id="delete-model" tabindex="-1" aria-labelledby="delete-model-title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="delete-model-title">Delete Model</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body" id="delete-model-body">
		  <p>Do you want to delete the model <b>"model name"</b></p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-danger" id="delete-model-yes" data-href="">Yes</button>
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
</div>
<!-- Delete Model -->

{% endif %}

{% endblock %}

{% block extra_script %}
<script src="{% static 'admin/plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'admin/plugins/jszip/jszip.min.js'%}"></script>
<script src="{% static 'admin/plugins/pdfmake/pdfmake.min.js'%}"></script>
<script src="{% static 'admin/plugins/pdfmake/vfs_fonts.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/buttons.colVis.min.js'%}"></script>

<!-- DATA TABLES -->
<script>

	$(document).ready( () => {
		if ($('button.nav-link active').length  == 0) {
			// $.each($('button.nav-link'), (i, element) => {
				// if ($(element).text() == 'Student') {
					// $('#accomandation-tab').addClass('active')
					// $('#accommodation_table').addClass('show active')
				// }
			// });
		}

		// Working on Delete logic
		$(document).on('click', '.delete-btn', function() {
			let name = $(this).attr('data-name')
			let title = $(this).attr('data-title')
			let del_link = $(this).attr('href')
			$('#delete-model-title').html(
				`Delete ${title}`
			)
			$('#delete-model-body').html(
				`<p>Do you want to delete the ${title.toLowerCase()} <b>"${name}"</b></p>`
			)
			$('#delete-model-yes').attr('data-href', del_link)	
		})
		$('#delete-model-yes').on('click', function() {
			let del_link = $(this).attr('data-href')
			// When user click on yes button delete
			let $crf_token = "{{ csrf_token }}";
			// AJAX Call
			$.ajax({
				url : del_link,
				type: "POST",
				headers:{"X-CSRFToken": $crf_token},
				success: function(data, textStatus, jqXHR)
				{
					//data - response from server
					location.reload(); //Reload the current Page
				},
				error: function (jqXHR, textStatus, errorThrown)
				{
					console.log('error while ajax calling')
				}
			});
		})
	})
	
	$(function () {
		$('#course').DataTable({
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true,
			dom: 'Bfrtip',
			buttons: [
				'copy', 'csv', 'excel'
			]
		});
		$('#accommodation, #services, #installment').DataTable({
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true,
			dom: 'Bfrtip',
			buttons: [
				'copy', 'csv', 'excel'
			]
		});
	});
</script>
{% endblock%}
