{% extends "admin_main_base.html" %}
{% block head_title %}{{title}}{% endblock %}
{% load static %}

{% block extra_head %}
{% endblock %}


{% block content %}

<!-- Content wrapper -->
<div class="content-wrapper">
	<!-- Content -->
	<div class="container-xxl flex-grow-1 container-p-y">
		<h4 class="fw-bold mb-0"><span class="text-muted fw-light"></span> {{title}}</h4>
		<nav aria-label="breadcrumb mb-4  ">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'web:details_school_course' course.pk %}">Course Details</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{title}}</li>
			</ol>
		</nav>

		{% if form.errors %}
		<div class="px-5 py-2 d-flex justify-content-center">
			<div class="alert alert-warning alert-dismissible fade show text-dark" role="alert">
				{% for field, errors in form.errors.items %}
    				{% for error in errors %}
						{% if field == '__all__' %}
							<strong>Error : </strong> {{ error|escape }}<br>
						{% else %}
							<strong>{{ field|title }} : </strong> {{ error|escape }}<br>
						{% endif %}
					{% endfor %}
				{% endfor %}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
		{% endif %}

		<form action="" method="post" enctype="multipart/form-data" autocomplete="off">
			{% csrf_token %}
			<!-- Bootstrap modals -->
			<div class="card mb-4 empty-div-height d-block">
				<div class="row h-100h">
					<div class="col-lg-3 h-100h">
						<div class="bg-v-steps h-100">
							<ul class="nav flex-column nav-pills list-v-steps" id="v-pills-tab" role="tablist"
								aria-orientation="vertical">
								<li class="active">
									<span>1</span>
									<a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
										data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
										aria-selected="true">School Course Discount</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-9 position-relative">
						<div class="tab-content p-0" id="v-pills-tabContent">
							<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
								aria-labelledby="v-pills-home-tab">
								<div class="row h-100h">
									<div class="col-md-7 mt-5">
										<div class="forms h-100 d-flex flex-column align-items-">
											<!-- <div class="mb-3">
												<label class="form-label" for="">Select Course <strong class="text-danger">*</strong></label>
												{{ form.ref_course }}
											</div> -->
											<div class="row mb-3">
												<div class="col">
													<label class="form-label" for="">Coupon Code <strong class="text-danger">*</strong></label>
													{{ form.coupon_code }}
												</div>
												<div class="col">
													<label class="form-label" for="">Discount (%) <strong class="text-danger">*</strong></label>
													<input type="number" id="id_discount" name="discount" min="1.00" max="100.00" class="form-control form-control-lg" maxlength="5" placeholder="10.00 %" required value="{{ form.discount.value|default_if_none:'' }}">
												</div>
											</div>
											<div class="row mb-3">
												<div class="col">
													<label class="form-label" for="">Valid From <strong class="text-danger">*</strong></label>
													<input type="date" name="valid_from" class="form-control form-control-lg" id="id_valid_from" placeholder="YYYY-MM-DD" min="{{cdate}}" required value="{{ form.valid_from.value|default_if_none:'' }}">
												</div>
												<div class="col">
													<label class="form-label" for="">Valid Upto <strong class="text-danger">*</strong></label>
													<input type="date" name="valid_upto" class="form-control form-control-lg" id="id_valid_upto" placeholder="YYYY-MM-DD" min="{{cdate}}" required value="{{ form.valid_upto.value|default_if_none:'' }}">
												</div>
											</div>
											<div class="mb-3">
												{{ form.is_active }}
												<label class="form-label" for="">Is Active</label>
											</div>
											<div class="next-prev-div d-flex justify-content-end w-100">
												<button class="btn btn-success px-4 d-flex align-items-center" type="submit">Submit <i
														class="ri-arrow-right-line ms-3 me-0"></i></button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ Bootstrap modals -->
		</form>
	</div>
	<!-- / Content -->
</div>
<!-- Content wrapper -->

{% endblock %}


{% block extra_script %}
<script>
	$(document).ready( ()=> {
		$(document).on('keyup', '#id_discount', function(e){
			let validate = true;
			if ($.isNumeric($(this).val())) {
				if (parseFloat($(this).val()) > 100) {
					alert('Discount should not be greater than 100.00');
					validate = false;
				}
			} else {
				validate = false;
			}

			(validate) ? '' : $(this).val('');
		});
	});
</script>
{% endblock%}