{% extends "admin_main_base.html" %}
{% block head_title %}Edit Accommodation Preferance{% endblock %}
{% load static %}
{% block content %}

{% if permission %}
<div class="content-wrapper d-block d-block px-5 py-3" style="min-height: 1602px;">
    <!-- Main content -->
    <section class="content">
		<div class="error-page">
			<h2 class="headline text-warning"> 403 Error</h2>
			<div class="error-content">
				<h3><i class="ri-error-warning-line"></i> Oops! Permission denied.</h3>
				<p>We could not find the page you were looking for.</p>
			</div>
		</div>
	</section>
    <!-- /.content -->
  </div>
{% else %}

	<!-- Content Wrapper. Contains page content -->
  	<div class="content-wrapper d-block d-block px-5 py-3">
    	<!-- Content Header (Page header) -->
    	<div class="content-header">
	      	<div class="container-fluid">
		        <div class="row mb-2">
		          	<div class="col-sm-6">
		            	<h1 class="m-0">Edit Accommodation Preferance </h1>
		          	</div><!-- /.col -->
		        </div><!-- /.row -->
	      	</div><!-- /.container-fluid -->
    	</div>
    	<!-- /.content-header -->

    	<!-- Main content -->
    	<section class="content">
	      	<div class="container-fluid">
		        <div class="row">
		          	<!-- left column -->
		          	<div class="col-md-12">
		            	<!-- general form elements -->
		            	<div class="card card-primary">
		              		<div class="card-header">
		                	<h3 class="card-title">Accommodation Preferance Form</h3>
		              		</div>
		              		{% if form.errors %}
						      <p class="login-box-msg">
						      	{{form.non_field_errors}}
						      </p>
						    {% endif %}
		              		<!-- form start -->
			              	<form action="" method="post" enctype="multipart/form-data"  autocomplete="off">
			              		{% csrf_token %}
				                <div class="card-body">
					                <!--Service Formset Start-->
					                <div class="row">
					                  	<div class="col-6">
					                  		<label for="id_name">Name<span>*</span></label>
					                  		{{form.name}}  
					                  	</div>
					                </div>
				                </div>

				                <!-- /.card-body -->

				                <div class="card-footer">
				                  	<button type="submit" class="btn btn-primary">Submit</button>
				                </div>
			              	</form>
		            	</div>
		            	<!-- /.card -->

		          	</div>
		          	<!--/.col (left) -->
		        
		        </div>
		        <!-- /.row -->
	      	</div><!-- /.container-fluid -->
    	</section>
    	<!-- /.content -->
  	</div>
{% endif %}

{% endblock %}
{% block extra_script %}

{% endblock%}