{% extends "admin_main_base.html" %}
{% block head_title %}School Class Details{% endblock %}
{% load static %}
{% load auth_extras %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/datatables-buttons/css/buttons.dataTables.min.css' %}">
{% endblock %}

{% block content %}
{% if permission %}
<!-- Content wrapper -->
<div class="content-wrapper">
	<!-- Content -->
	<div class="container-xxl flex-grow-1 container-p-y">
		<!-- Main content -->
		<section class="content">
			<div class="error-page">
				<h2 class="headline text-warning"> 403 Error</h2>
				<div class="error-content">
					<h3><i class="ri-error-warning-line"></i> Oops! Permission denied.</h3>
					<p>We could not find the page you were looking for.</p>
				</div>
			</div>
		</section>
	</div>
	<!-- Content -->
</div>
<!-- Content wrapper -->
{% else %}
<!-- Content wrapper -->
<div class="content-wrapper">
	<!-- Content -->
	<div class="container-xxl flex-grow-1 container-p-y">
		<div class="d-md-flex justify-content-between mb-3">
			<div class="d-md-flex">
				<div class="d-flex align-items-center">
					<div class="pe-3">
						<h4 class="fw-bold mb-0"><span class="text-muted fw-light"></span>School Class Details</h4>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item active"><a
										href="{% url 'web:details_school_course' course.ref_course.pk %}">Course Details</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">School Class Details</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="details-section mb-2">
			<!-- <h5 class="mb-4"> About Course </h5> -->
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="card-title mb-2 d-flex align-items-start justify-content-start">
								<span class="text-center me-2">
									<i class="ri-building-line"></i>
								</span>
								<span class="fw-semibold d-block mb-1 text-center">SCHOOL</span>
							</div>
							<span class="d-block border-top pt-3">{{course.ref_school.school_name}}</span>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="card-title mb-2 d-flex align-items-start justify-content-start">
								<span class="text-center me-2">
									<i class="ri-organization-chart"></i>
								</span>
								<span class="fw-semibold d-block mb-1 text-center">ORGANIZATION</span>
							</div>
							<span class="d-block border-top pt-3">{{course.ref_school.ref_organization}}</span>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="card-title mb-2 d-flex align-items-start justify-content-start">
								<span class="text-center me-2">
									<i class="ri-map-pin-line"></i>
								</span>
								<span class="fw-semibold d-block mb-1 text-center">LOCATION</span>
							</div>
							<span class="d-block border-top pt-3">{{course.ref_school.ref_city}},
								{{course.ref_school.ref_country}}</span>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="card-title mb-2 d-flex align-items-start justify-content-start">
								<span class="text-center me-2">
									<i class="ri-mail-open-line"></i>
								</span>
								<span class="fw-semibold d-block mb-1 text-center">EMAIL</span>
							</div>
							<span class="d-block border-top pt-3">{{course.ref_school.email}}</span>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="card-title mb-2 d-flex align-items-start justify-content-start">
								<span class="text-center me-2">
									<i class="ri-currency-line"></i>
								</span>
								<span class="fw-semibold d-block mb-1 text-center">CURRENCY</span>
							</div>
							<span
								class="d-block border-top pt-3">{{course.ref_school.ref_currency.currency_short}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="details-section">
			<div class="row">
				<div class="col-lg-5 col-md-4 col-sm-6 col-12 mb-4">
					<div class="card">
						<h5 class="card-header">About</h5>
						<div class="table-responsive text-nowrap">
							<table class="table table-striped">
								<tbody class="table-border-bottom-0">
									<tr>
										<td><i class="ri-file-list-line"></i> <strong>Course Title</strong>
										</td>
										<td>{{course.title}}</td>
									</tr>
									<tr>
										<td><i class="ri-file-list-line"></i> <strong>Course</strong>
										</td>
										<td>{{course.ref_course}}</td>
									</tr>
									<tr>
										<td><i class="ri-smartphone-line"></i> <strong>Course Type</strong></td>
										<td>
											{{ course.ref_type_of_course }}
										</td>
									</tr>
									<tr>
										<td><i class="ri-add-line"></i> <strong>Maximum</strong></td>
										<td>
											{% if course.minimum %}
											{{course.maximum}}
											{% else %}
											-
											{% endif %}
										</td>
									</tr>
									<tr>
										<td><i class="ri-git-commit-line"></i> <strong>Minimum</strong></td>
										<td>
											{% if course.minimum %}
											{{course.minimum}}
											{% else %}
											-
											{% endif %}
										</td>
									</tr>
									<tr>
										<td><i class="ri-user-line"></i> <strong>Course Teacher</strong></td>
										<td>{{course.teacher_fullname}}</td>
									</tr>
									<tr>
										<td><i class="ri-map-pin-line"></i> <strong>Sechedule</strong>
										</td>
										<td>{{course.ref_schedule}}</td>
									</tr>
									<tr>
										<td><i class="ri-calendar-line"></i> <strong>Days</strong>
										</td>
										<td>{{course.ref_day_list}}</td>
									</tr>
									<tr>
										<td><i class="ri-calendar-line"></i> <strong>Start Day</strong>
										</td>
										<td>
											{% if course.start_day %}
											{{course.start_day}}
											{% else %}
											-
											{% endif %}
										</td>
									</tr>
									<tr>
										<td><i class="ri-building-line"></i> <strong>Room</strong></td>
										<td>
											{% if course.ref_room %}
											{{course.ref_room.name}}
											{% endif %}
										</td>
									</tr>
									<tr>
										<td><i class="ri-time-line"></i> <strong>Course Start Date</strong></td>
										<td>{{course.summar_start}}</td>
									</tr>
									<tr>
										<td><i class="ri-time-line"></i> <strong>Course End Date</strong></td>
										<td>{{course.summar_end}}</td>
									</tr>
									<tr>
										<td><i class="ri-file-list-line"></i> <strong>Course Document</strong></td>
										<td>
											{% if course.document %}
											<a href="{{course.document.url}}">View Document</a>
											{% else %}
											Not Available
											{% endif %}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="col-lg-7 col-md-4 col-sm-6 col-12 mb-4">
					<div class="row">
						<div class="card">
							<div class="table-responsive text-nowrap">								
								<div class="card-title d-flex align-items-start justify-content-between rounded bg-light p-3 mb-3 mt-3">
									<div class="">
										<ul class="nav nav-pills" role="tablist">
											<li class="nav-item">
												<button type="button" class="nav-link active" role="tab" id="course_price-tab" data-bs-toggle="tab"
												data-bs-target="#course_price_table"
												aria-controls="course_price_table" aria-selected="false">Price</button>
											</li>
											<!-- <li class="nav-item">
												<button type="button" class="nav-link" role="tab" id="time_table-tab" data-bs-toggle="tab"
												data-bs-target="#time_table_table"
												aria-controls="time_table_table" aria-selected="false">Updated Time Table</button>
											</li> -->
											<li class="nav-item">
												<button type="button" class="nav-link" role="tab" id="students-tab" data-bs-toggle="tab"
												data-bs-target="#students_table"
												aria-controls="students_table" aria-selected="false">Students</button>
											</li>
											<li class="nav-item">
												<button type="button" class="nav-link" role="tab" id="installment-tab" data-bs-toggle="tab"
												data-bs-target="#installment_table"
												aria-controls="installment_table" aria-selected="true">
												Installment
												</button>
											</li>
											<li class="nav-item">
												<button type="button" class="nav-link" role="tab" id="class_room-tab" data-bs-toggle="tab"
												data-bs-target="#class_room_table"
												aria-controls="class_room_table" aria-selected="true">
												Time Table
												</button>
											</li>
										</ul>
									</div>
								</div>
								<div class="card-body tab-content">
									<!-- installment Table -->
									<div role="tabpanel" aria-labelledby="installment-tab" class="tab-pane fade table-responsive text-nowrap" id="installment_table">

										<div class="mb-4 d-flex justify-content-end">
											<a href="{% url 'web:create_school_class_installment' course.pk %}" class="btn p-0 d-flex align-items-center border px-2 py-1 btn-outline-secondary" type="button">
												<i class="ri-add-line me-2"></i> Add Installment
											</a>
										</div>

										<table class="table" id="installment">
											<thead>
												<tr>
													<th>SL</th>
													<th>Type</th>
													<th>Charges (%)</th>
													<th>Created At</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody class="table-border-bottom-0">
												{% for installment in installments %}
												<tr>
													<td>{{forloop.counter}}</td>
													<td>{{installment.type}}</td>
													<td>{{installment.charges}}</td>
													<td>{{installment.created_at}}</td>
													<td>
														<a class="me-2" href="{% url 'web:update_school_class_installment' installment.pk %}">
															<i class="ri-edit-box-line ri-lg"></i>
														</a>
														<a class="delete-btn" data-bs-toggle="modal" data-bs-target="#delete-model" data-name="{{installment.type}}" data-title="Class Installment" href="{% url 'web:delete_school_class_installment' installment.pk %}">
															<i class="ri-delete-bin-5-line ri-lg"></i>
														</a>
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
									<!-- updated time table -->
									<div role="tabpanel" aria-labelledby="time_table-tab" class="tab-pane fade table-responsive text-nowrap" id="time_table_table">
										<table class="table" id="time_table">
											<thead>
												<tr>
													<th>Class Date</th>
													<th>Start Time</th>
													<th>End Time</th>
												</tr>
											</thead>
											<tbody class="table-border-bottom-0">
												{% for timetable in timetables %}
												<tr>
													<td>{{timetable.class_date}}</td>
													<td>{{timetable.start_time}}</td>
													<td>{{timetable.end_time}}</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
									<!-- Course Price -->
									<div role="tabpanel" aria-labelledby="course_price-tab" class="tab-pane fade table-responsive text-nowrap show active" id="course_price_table">
										<table class="table" id="course_price">
											<thead>
												<tr>
													<th>Min week</th>
													<th>Max week</th>
													<th>Price(Per week)</th>
												</tr>
											</thead>
											<tbody class="table-border-bottom-0">
												{% for price in price %}
												<tr>
													<td>{{price.min_weak}}</td>
													<td>{{price.max_weak}}</td>
													<td>{{schools.ref_currency.currency_short}} {{price.price}}</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
									<!-- student Table -->
									<div role="tabpanel" aria-labelledby="students-tab" class="tab-pane fade table-responsive text-nowrap" id="students_table">
										<table class="table" id="students">
											<thead>
												<tr>
													<th>Student Name</th>
													<th>Study Period</th>
													<th>Start Date</th>
													<th>End Date</th>
												</tr>
											</thead>
											<tbody class="table-border-bottom-0">
												{% for student in student %}
												<tr>
													<td>{{student.ref_student.first_name}} {{student.ref_student.last_name}}
													</td>
													<td>{{student.study_period}} week</td>
													<td>{{student.start_date}}</td>
													<td>{{student.end_date}}</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
									<!-- class_room Table -->
									<div role="tabpanel" aria-labelledby="class_room-tab" class="tab-pane fade table-responsive text-nowrap" id="class_room_table">

										<div class="mb-4 d-flex justify-content-end">
											<a href="{% url 'web:create_class_time_table' object.pk %}" class="btn p-0 d-flex align-items-center border px-2 py-1 btn-outline-secondary" type="button">
												<i class="ri-add-line me-2"></i> Update Time Table
											</a>
										</div>

										<table class="table" id="class_room">
											<thead>
												<tr>
													<th>Class Date</th>
													<th>Schedule</th>
													<th>Teacher</th>
													<th>Class Room</th>
												</tr>
											</thead>
											<tbody class="table-border-bottom-0">
												{% for class_room in class_classrooms %}
												<tr>
													<td>{{class_room.class_date}}</td>
													<td>{{class_room.ref_schedule}}</td>
													<td>{{class_room.teacher_fullname}}</td>
													<td>{{class_room.ref_room}}</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- Content -->
</div>
<!-- Content wrapper -->
<!-- Delete Model -->
<div class="modal fade" id="delete-model" tabindex="-1" aria-labelledby="delete-model-title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="delete-model-title">Delete Model</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="delete-model-body">
				<p>Do you want to delete the model <b>"model name"</b></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="delete-model-yes" data-href="">Yes</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Delete Model -->
{% endif %}

{% endblock %}

{% block extra_script %}
<script src="/static/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/static/admin/plugins/jszip/jszip.min.js"></script>
<script src="/static/admin/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/static/admin/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<script>
	$(document).ready( ()=> {

		$(document).on('click', '.delete-btn', function() {
			let name = $(this).attr('data-name')
			let del_link = $(this).attr('href')
			$('#delete-model-body').html(
				`<p>Do you want to delete the class installment <b>"${name}"</b></p>`
			)
			$('#delete-model-yes').attr('data-href', del_link)	
		})
		$('#delete-model-yes').on('click', function() {
			let del_link = $(this).attr('data-href')
			// When user click on yes button delete
			let $crf_token = "{{ csrf_token }}";
			// AJAX Call
			$.ajax({
				url : del_link,
				type: "POST",
				headers:{"X-CSRFToken": $crf_token},
				success: function(data, textStatus, jqXHR)
				{
					//data - response from server
					location.reload(); //Reload the current Page
				},
				error: function (jqXHR, textStatus, errorThrown)
				{
					console.log('error while ajax calling')
				}
			});
		});

		$('#time_table').DataTable({
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true,
			"order": [[0, 'desc']],
			dom: 'Bfrtip',
			buttons: [
				'copy', 'csv', 'excel'
			]
		});

		$('#installment').DataTable({
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true,
			"order": [[3, 'desc']],
			dom: 'Bfrtip',
			buttons: [
				'copy', 'csv', 'excel'
			]
		});

		$('#course_price').DataTable({
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true,
			"order": [[0, 'desc']],
			dom: 'Bfrtip',
			buttons: [
				'copy', 'csv', 'excel'
			]
		});

		$('#students').DataTable({
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true,
			"order": [[2, 'desc']],
			dom: 'Bfrtip',
			buttons: [
				'copy', 'csv', 'excel'
			]
		});

		$('#class_room').DataTable({
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true,
			"order": [[0, 'asc']],
			dom: 'Bfrtip',
			buttons: [
				'copy', 'csv', 'excel'
			]
		});
	});
</script>
{% endblock%}