<label>Class Details <strong class="text-danger">*</strong></label>
<table class="table">

	<thead>
		<tr>
			<th></th>
			<th>Course</th>
			<th>Days</th>
			<th>Start</th>
			<th>End</th>
			<th>Study Period</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for course in coureses %}
		<tr>
			<td>
				<input type="radio" class="form-check-input course_class" name="course_class_details"
					value="{{course.id}}">
			</td>
			<td>
				{{course.title|truncatechars:10}}
			</td>
			<td class="course_days">
				{{course.ref_day_list}}
			</td>
			<td class="course_start_timeline">
				{{course.summar_start}}
			</td>
			<td class="course_end-timeline">
				{{course.summar_end}}
			</td>
			<td>
				{{course.study_period}} Weeks
			</td>
			<td>
				{% if course.document %}
				<a href="{{ course.document.url }}" class="form-control" target="_blank">
					<i class="ri-file-download-fill"></i>
				</a>
				{% endif %}
			</td>

		</tr>
		{% empty %}
		<tr>
			<td colspan="4" style="color:red;">This school has no available classes</td>
		</tr>
		{% endfor %}

	</tbody>

</table>

<script type="text/javascript">
	$('.accommodation').on('change', function () {
		$('input[name="' + this.name + '"]').not(this).prop('checked', false);
	});
</script>