{% extends "admin_main_base.html" %}
{% load static %}

{% block head_title %}403 Permission Denied{% endblock head_title %}

{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper d-block m-5">
    <!-- Content Header (Page header) -->
    <div class="content-header ms-5">
        <h2 class="fs-4 text-danger">403 Permission Denied !</h2>
        <h2 class="fs-5">Access Denied - You don't have permission to access</h2>
    </div>
    <!-- Content Header (Page header) -->
</div>
<!-- Content Wrapper. Contains page content -->
{% endblock content %}


{% block extra_script %}
{% endblock extra_script %}