{% load static %}
{% load auth_extras %}
{% load split %}

<style>
	img.img-circle.elevation-2 {
		height: auto;
		width: 2.1rem;
		cursor: pointer;
	}
	.dropdown-menu {
		/* width: 300px; */
		padding: 22px;
		margin-top: 5px;
	}
	.main-header-div {
		background: #f4f6f9;
	}
</style>

<!-- Preloader -->
  	<!-- <div class="preloader flex-column justify-content-center align-items-center">
    	<img class="animation__shake" src="{% static 'admin/dist/img/AdminLTELogo.png' %}" alt="Admin Logo" height="60" width="60">
  	</div> -->

  	<!-- Navbar -->
	<div class="main-header-div py-2">
		<nav class="main-header navbar navbar-expand navbar-transparent border-0 my-2">
			<!-- Left navbar links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" data-widget="pushmenu" role="button">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path fill="none" d="M0 0h24v24H0z"/><path d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z" fill="rgba(153,153,153,1)"/></svg>
					</a>
				</li>
				<li class="nav-item d-block pl-3">
					{% if title %}
					<span class="h4 font-weight-bold" style="font-size: 16px !important;">{{ title }}</span>
					<div class="d-flex">
						{% with title|split:" " as titles %}
						<a href="#" class="nav-link text-primary bg-transparent pl-0">{{ titles.1 }}&nbsp; ></a>
						{% endwith %}
						<span class="nav-link pl-0 text-muted">{{ title }}</span>
					</div>
					{% endif %}
				</li>
			</ul>

			<!-- Right navbar links -->
			<ul class="navbar-nav ml-auto mr-3">
			<li class="nav-item">
				<!-- Sidebar user panel (optional) -->
				<div class="dropdown">
					{% if user.is_authenticated %}
						<!-- {% if user.is_superuser %}
							<div class="image d-flex justify-content-between align-items-center" data-toggle="dropdown" aria-expanded="false">
								<img src="{% static 'admin/dist/img/avatar.png' %}" class="img-circle elevation-2 mr-2" alt="User Image">
								<div class="d-none d-md-flex">
									<span class="ms-2">Hi,
									<span class="text-dark fw-bold">{{ user.username|title }}</span></span>
									<span>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down feather-sm"><polyline points="6 9 12 15 18 9"></polyline></svg>
									</span>
								</div>	
							</div>				
							
						{% elif request.user|has_group:"admin" %}
							<div class="image" data-toggle="dropdown" aria-expanded="false">
							<img src="{% static 'admin/dist/img/avatar.png' %}" class="img-circle elevation-2" alt="User Image">
							</div>
							
						
						{% elif request.user|has_group:"aggent" %}
							<div class="image" data-toggle="dropdown" aria-expanded="false">
							<img src="{% static 'admin/dist/img/avatar.png' %}" class="img-circle elevation-2" alt="User Image">
							</div>
							

						{% elif request.user|has_group:"student" %}
							<div class="image" data-toggle="dropdown" aria-expanded="false">
							<img src="{% static 'admin/dist/img/avatar.png' %}" class="img-circle elevation-2" alt="User Image">
							</div>
							
							<div class="info">
							<a href="#" class="d-block">{{user.first_name}} {{user.last_name}}</a>
							</div>
						
							{% elif request.user|has_group:"organization" %}
							<div class="image" data-toggle="dropdown" aria-expanded="false">
							<img src="{% static 'admin/dist/img/avatar.png' %}" class="img-circle elevation-2" alt="User Image">
							</div>
							
						{% elif request.user|has_group:"school" %}
							<div class="image" data-toggle="dropdown" aria-expanded="false">
							<img src="{% static 'admin/dist/img/avatar.png' %}" class="img-circle elevation-2" alt="User Image">
							</div>
							
						{% elif request.user|has_group:"teacher" %}
							<div class="image" data-toggle="dropdown" aria-expanded="false">
							<img src="{% static 'admin/dist/img/avatar.png' %}" class="img-circle elevation-2" alt="User Image">
							</div>
							
						{% elif request.user|has_group:"school_student" %}
							<div class="image" data-toggle="dropdown" aria-expanded="false">
							<img src="{% static 'admin/dist/img/avatar.png' %}" class="img-circle elevation-2" alt="User Image">
							</div>
							
						{% endif %} -->
						<div class="image d-flex justify-content-between align-items-center dropstart" data-toggle="dropdown" aria-expanded="false">
							<img src="{% static 'admin/dist/img/avatar.png' %}" class="img-circle elevation-2 mr-2" alt="User Image">
						<!-- <div class="d-none d-md-flex">
							<span class="mx-1">Hi,
								<span class="text-dark fw-bold"><strong>{{ user.username|title }}</strong></span></span>
							<span>
								<i class="fa-solid fa-chevron-down"></i>
							</span>
						</div>	 -->
						</div>
						<ul class="dropdown-menu">
							<li class="d-flex justify-content-center align-items-center mb-2">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path fill="none" d="M0 0h24v24H0z"/><path d="M4 22a8 8 0 1 1 16 0h-2a6 6 0 1 0-12 0H4zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4z"/></svg>
								<a class="dropdown-item" href="#">Profile</a>
							</li>
							{% url 'web:logout_view' as logout %}
							<li class="d-flex justify-content-center align-items-center">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path fill="none" d="M0 0h24v24H0z"/><path d="M5 11h8v2H5v3l-5-4 5-4v3zm-1 7h2.708a8 8 0 1 0 0-12H4A9.985 9.985 0 0 1 12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10a9.985 9.985 0 0 1-8-4z"/></svg>
								<a class="dropdown-item" href="{{ logout }}">Logout</a>
							</li>
							<!-- <div class="rounded-top d-flex justify-content-between align-items-center">
								<h3 class="card-title mb-0"><span class="h4">Profile</span></h3>
								<div class="ms-auto">
								<a href="javascript:void(0)" class="link py-0">
									<i class="fa-regular fa-circle-xmark fa-lg"></i>
								</a>
								</div>
							</div> -->
							<!-- <div class="d-flex justify-content-between align-items-center mt-4 pt-3 pb-4 border-bottom">
								<img src="{% static 'admin/dist/img/avatar.png' %}" alt="user" width="90" class="rounded-circle">
								<div class="ms-4">
									<h4 class="mb-0">{{ user.username|title }}</h4> -->
									<!-- <span class="text-muted">Administrator</span> -->
									<!-- <p class="text-muted mb-0 mt-1">
										<i class="fa-regular fa-envelope fa-lg pr-1"></i>{{ user.email }}
									</p>
								</div>
							</div>
							{% url 'web:logout_view' as logout %}
							<a class="" href="{{ logout }}">
								<button class="btn btn-primary w-100" type="button">Logout</button>
							</a> -->
						</ul>
						
						
					{% endif %}
				</div>
			</li> 
			</ul>
		</nav>
	</div>
<!-- /.navbar -->

{% block extra_script %}
<script>
	$(document).ready( () => {
		$('.dropdown-toggle').dropdown()
	})
</script>
{% endblock extra_script %}
