{% extends "admin_main_base.html" %}
{% block head_title %}Application List{% endblock %}
{% load static %}
{% load auth_extras %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/plugins/datatables-buttons/css/buttons.dataTables.min.css' %}">
{% endblock %}
{% block content %}

<!-- Content wrapper -->
<div class="content-wrapper">
	<!-- Content -->
	<div class="container-xxl px-4">
	{% if user.is_authenticated %}
		{% if user.is_superuser or request.user|has_group:"admin" or request.user|has_group:"staff" or request.user|has_group:"student" or request.user|has_group:"aggent" %}
			<div class="col-sm-6">
				<h4 class="mb-2">List of Users</h4>
			</div>
		{% elif request.user|has_group:"organization" %}
			{% if user.organizationuserprofile %}
			<div class="col-sm-6">
				<h4 class="mb-2">Organization: {{ user.organizationuserprofile.ref_organization}}</h4>
			</div>
			{% endif %}
		{% else %}
		{% endif %}
	{% endif %}
	</div>
	<div class="container-xxl flex-grow-1 container-p-y">
		<!-- No Application Container -->
		{% if data|length == 0 %}
		<h4 class="fw-bold pt-3 mb-0"><span class="text-muted fw-light"></span> No Application Added</h4>
		<nav aria-label="breadcrumb mb-4  ">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'web:dashboard' %}">Dashboard</a></li>
				<li class="breadcrumb-item active" aria-current="page">No Application Added</li>
			</ol>
		</nav>
		<!-- Bootstrap modals -->
		<div class="cmb-4 d-flex justify-content-center align-items-center w-100 empty-div-height">
            <div class="text-center col-md-3 mx-auto">
                <img src="{% static 'img/no-school.png' %}" class="mb-2" style="width: 250px;">
                <p class="text-dark h5">No Application added yet!</p>
                <!-- <a href="#" class="btn btn-i btn-primary w-100"><i class="ri-add-line"></i> ADD APPLICATION</a> -->
			</div>
		</div>
		<!--/ Bootstrap modals -->
		{% else %}
		<!-- Application Found -->
		<div class="d-md-flex justify-content-between mb-3">
			<div class="d-md-flex">
				<div class="d-flex align-items-center">
					<div class="border-end pe-3">
						<h4 class="fw-bold mb-0"><span class="text-muted fw-light"></span>Application List</h4>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'web:dashboard' %}">Dashboard</a></li>
							<li class="breadcrumb-item active" aria-current="page">Application List</li>
							</ol>
						</nav>
					</div>
					<div class="bread-number ps-3">
						<span>{{ data|length }} Application</span>
					</div>
				</div>
				<div class="ms-md-3 d-flex align-items-center my-3 my-md-0">
					<div class="input-group new-group">
						<span class="input-group-text border-0" id="basic-addon1"><i class="ri-search-line"></i></span>
						<input type="text" class="form-control border-0" type="search" placeholder="Search by Name" aria-label="Search" id="search">
					</div>
				</div>
			</div>
			<div class="">
				<!-- <a href="#" class="btn btn-i btn-primary w-100"><i class="ri-add-line"></i> ADD APPLICATION</a> -->
			</div>
		</div>
		
		<div class="card">
			<div class="card-body">
				<table id="example1" class="table table-borderless table-hover dataTable dtr-inline">
					<thead>
						<tr>
							<th>SL NO.</th>
							<th>Code No</th>
							<th>Name</th>
							<th>Email</th>
							<th>PHONE</th>
							<th>NATIONALITY</th>
							<th>DATE OF BIRTH</th>
							<th>School</th>
							<th>COURSE</th>
							<th>APPLICATION STATUS</th>
							<th>Payment</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody class="table-border-bottom-0">
						{% for application in data %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>{{application.ap_code}}</td>
							<td>{{application.ap_first_name}} {{application.ap_last_name}}</td>
							<td>{{application.ap_email}}</td>
							<td>{{application.ap_phone}}</td>
							<td>{{application.ref_ap_nationality}}</td>
							<td>{{application.ap_date_of_birth}}</td>
							<td>{{application.ap_school}}</td>
							<td>{{application.ap_course_name}}</td>
							<td>
								{% if application.ap_status == 0 %}
								<span class="badge bg-label-info me-1">{{application.ap_status_title}}</span>
								{% elif application.ap_status == 1 %}
								<span class="badge bg-label-success me-1">{{application.ap_status_title}}</span>
								{% elif application.ap_status == 2 %}
								<span class="badge bg-label-warning me-1">{{application.ap_status_title}}</span>
								{% elif application.ap_status == 3 %}
								<span class="badge bg-label-danger me-1">{{application.ap_status_title}}</span>
								{% else %}
								{% endif %}
							</td>
							<td>
								{% if application.ap_payment_status == 0 %}
								<span class="badge bg-label-info me-1">{{application.ap_payment_status_title}}</small>
								{% elif application.ap_payment_status == 1 %}
								<span class="badge bg-label-success me-1">{{application.ap_payment_status_title}}</small>
								{% elif application.ap_payment_status == 2 %}
								<span class="badge bg-label-success me-1">{{application.ap_payment_status_title}}</small>
								{% else %}
								<span class="badge bg-label-warning me-1">-</small>
								{% endif %}
							</td>
							<td>
								<a class="me-2" href="{% url 'web:application_detail' application.id %}">
									<i class="ri-eye-line ri-lg"></i>
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{% endif %}
	</div>
	<!-- Content -->
</div>
<!-- Content wrapper -->

<!-- Delete Model -->
<div class="modal fade" id="delete-model" tabindex="-1" aria-labelledby="delete-model-title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="delete-model-title">Delete Application</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body" id="delete-model-body">
		  <p>Do you want to delete the model <b>"model name"</b></p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-danger" id="delete-model-yes" data-href="">Yes</button>
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
</div>
<!-- Delete Model -->

{% endblock %}

{% block extra_script %}
<script src="{% static 'admin/plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'admin/plugins/jszip/jszip.min.js'%}"></script>
<script src="{% static 'admin/plugins/pdfmake/pdfmake.min.js'%}"></script>
<script src="{% static 'admin/plugins/pdfmake/vfs_fonts.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/buttons.colVis.min.js'%}"></script>

<script>
  $(function () {
	oTable = $('#example1').DataTable({
		"paging": true,
		"lengthChange": true,
		"searching": true,
		"ordering": true,
		"info": true,
		"autoWidth": false,
		"responsive": true,
		"order": [[1, 'desc']],
		dom: 'Bfrtip',
		buttons: [
			'copy', 'csv', 'excel'
		]
	});
	$('#search').keyup(function(){
		oTable.search($(this).val()).draw() ;
	});

	// Hide In-build Searchbar
	$('#example1_filter').addClass('d-none');
  });
</script>

{% endblock%}
