{% extends "admin_main_base.html" %}
{% block head_title %}{{ title|title }}{% endblock %}
{% load static %}

{% block extra_head %}
<link href=
'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'>
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>
 <script src=
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" ></script>
{% endblock %}


{% block content %}

<!-- Content wrapper -->
<div class="content-wrapper">
	<!-- Content -->
	<div class="container-xxl flex-grow-1 container-p-y">
		<h4 class="fw-bold mb-0"><span class="text-muted fw-light"></span> {{ title|title }}</h4>
		<nav aria-label="breadcrumb mb-4  ">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'web:details_school_course' course_id %}">Course Details</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ title|title }}</li>
			</ol>
		</nav>

		{% if form.errors %}
		<div class="px-5 py-2 d-flex justify-content-center">
			<div class="alert alert-warning alert-dismissible fade show text-dark" role="alert">
				{% for field, errors in form.errors.items %}
    				{% for error in errors %}
						{% if field == '__all__' %}
							<strong>Error : </strong> {{ error|escape }}<br>
						{% else %}
							<strong>{{ field|title }} : </strong> {{ error|escape }}<br>
						{% endif %}
					{% endfor %}
				{% endfor %}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
		{% endif %}

		<form action="" method="post" enctype="multipart/form-data" autocomplete="off">
			{% csrf_token %}
			<!-- Bootstrap modals -->
			<div class="card mb-4 empty-div-height d-block">
				<div class="row h-100h">
					<div class="col-lg-3 h-100h">
						<div class="bg-v-steps h-100">
							<ul class="nav flex-column nav-pills list-v-steps" id="v-pills-tab" role="tablist"
								aria-orientation="vertical">
								<li class="active">
									<span>1</span>
									<a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
										data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
										aria-selected="true">Class Time Table</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-9 position-relative">
						<div class="tab-content p-0" id="v-pills-tabContent">
							<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
								aria-labelledby="v-pills-home-tab">
								<div class="row h-100h">
									<div class="col-md-7 mt-5">
										<div class="forms h-100 d-flex flex-column align-items-">
											<div class="mb-3">
												<label class="form-label">Select Classes <strong class="text-danger">*</strong></label>
												{{ form.ref_class }}
											</div>
											<div class="mb-3" id="class_details"></div>
											<div class="row mb-3">
												<div class="col">
													<label>Class Date <strong class="text-danger">*</strong></label>
													<div class="input-group date" id="reservationdate"
														data-target-input="nearest">

														<input type="text"
															class="form-control form-control-lg datetimepicker-input"
															name="class_date" id="datepicker"
															placeholder="yyyy-mm-dd" required />
														
															<div class="input-group-append"
															data-target="#reservationdate"
															data-toggle="datetimepicker">
															<div class="input-group-text h-100">
																<i class="ri-calendar-line ri-lg"></i>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row mb-3">
												<div class="col">
													<label class="form-label">Start Time <strong class="text-danger">*</strong></label>
													{{ form.start_time }}
												</div>
												<div class="col">
													<label class="form-label">End Time <strong class="text-danger">*</strong></label>
													{{ form.end_time }}
												</div>
											</div>
											<div class="next-prev-div d-flex justify-content-end w-100">
												<button class="btn btn-success px-4 d-flex align-items-center" type="submit">Submit <i
														class="ri-arrow-right-line ms-3 me-0"></i></button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ Bootstrap modals -->
		</form>
	</div>
	<!-- / Content -->
</div>
<!-- Content wrapper -->

{% endblock %}


{% block extra_script %}
<script>
	const blank_option = '<option value="" selected="">---------</option>';

	$(document).ready( () => {
		$('#datepicker').datepicker({
			beforeShowDay: function (date) {
				var dayOfWeek = date.getDay();
				// 0 : Sunday, 1 : Monday, ...
				let temp_days=[0,1,2,3,4,5,6]
				if (temp_days.includes(dayOfWeek))	return [false];
				else return [true];
			},
			dateFormat: 'yy-mm-dd',
		});

		let current_year = parseInt("{% now 'Y' %}");
		let next_year = current_year + 1
		let current_month = parseInt("{% now 'm' %}");
		let current_day = parseInt("{% now 'd' %}");
		let minDate = new Date(current_year, current_month - 1, current_day)

		
		// $(document).on("change", "#id_ref_course", () => {
		// 	// For Classes
		// 	$("#class_details").html('');

		// 	$.ajax({
		// 		method: 'get',
        //         url: '{% url "web:get_classes" %}',
        //         data: {
		// 			'course': $("#id_ref_course :selected").val()
        //         },
        //         success: function (response) {
        //             $('#id_ref_class').html(response);
        //         }
        //     });
		// });

		$(document).on("change", "#id_ref_class", () => {
			$('#datepicker').datepicker("destroy");

			if ($("#id_ref_class option:selected").val()) {
				$.ajax({
					method: 'get',
					url: '{% url "web:get_class_timetable" %}',
					data: {
						'class': $("#id_ref_class :selected").val()
					},
					success: function (response) {
						classes_json_data_str = JSON.stringify(response);
						classes_json_data = JSON.parse(classes_json_data_str);

						$("#class_details").html(`
							<span class="fs-6">Days : ${classes_json_data["days"]} </span><br>
							<span class="fs-6">Timeline : ${classes_json_data["start_date"]} || ${classes_json_data["end_date"]} </span><br>
							<span class="fs-6">Schedule: ${classes_json_data["start_time"]} - ${classes_json_data["end_time"]} </span><br>
						`)

						let class_days = classes_json_data['class_days'];
						// ============ Custom Datepicker ==========

						$('#datepicker').datepicker({
							beforeShowDay: function (date) {
								var dayOfWeek = date.getDay();
								// 0 : Sunday, 1 : Monday, ...
								if (class_days.includes(dayOfWeek))	return [true];
								else return [false];
							},
							dateFormat: 'yy-mm-dd',
							// yearRange: `${current_year}:${next_year}`,
							minDate: minDate,
							maxDate: classes_json_data["end_date"],
						});
					}
				});
			} else {
				$("#class_details").html('');
			}
		})

		$(document).on("keyup, keydown, keypress", "#datepicker", function (e) {
			e.preventDefault();
			e.stopPropagation();
		});
	});
</script>
{% endblock%}
